@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  /* letter-spacing: 1px; */
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  margin: 0;
  padding: 0;
  background: #ffffff !important;
  color: #fff !important;
  overflow-x: hidden;
  font-size: 0.9rem !important;
}

body a {
  text-decoration: none;
  color: #fff;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: crimson;
  border-radius: 10px;
}

/* buttons */
body button {
  width: 10rem;
  padding: 0.5rem;
  font-size: 0.9rem;
  text-align: center;
  border: 2px solid var(--primaryColor);
  border-radius: 7px;
  background: var(--primaryColor);
  color: #fff;
  transition: .4s;
}

body button:hover {
  background: transparent;
  color: var(--primaryColor);
}

:root {
  --primaryColor: #14bceb;
  --secondaryColor: #164461;
}

nav {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 10;
  margin: -70px 0;
  padding: 0.5rem 5rem 1rem 5rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  letter-spacing: 1px;
  color: var(--secondaryColor);
  transition: 0.5s;
}

.sticky {
  position: sticky;
  top: 0;
  background: #000;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 60%);
}


nav .logo a {
  text-decoration: none;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
}

nav .navRight {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

nav .navLinks a {
  position: relative;
  text-decoration: none;
  margin: 0 0.5rem;
  padding: 0rem 0.7rem;
  color: #fff;
}

nav .navLinks a:not(.active):before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transform: scaleX(0);
  transform-origin: bottom center;
  transition: 0.5s;
}

nav .navLinks a:not(.active):hover::before {
  transform: scale(1);
}

nav .navLinks .active::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transform-origin: bottom center;
  transition: 0.5s;
}

.searchContainer {
  position: relative;
  --size-button: 30px;
  color: white;
}

.searchContainer .input {
  padding-left: var(--size-button);
  height: var(--size-button);
  font-size: 0.9rem;
  border: none;
  /* border-bottom: 1px solid #fff; */
  color: #fff;
  outline: none;
  width: var(--size-button);
  transition: all ease 0.3s;
  background: transparent;
  cursor: pointer;
}

.searchContainer .input:focus,
.searchContainer .input:not(:invalid) {
  width: 200px;
  cursor: text;
  border-bottom: 1px solid #fff;
}

.searchContainer .input:focus+.icon,
.searchContainer .input:not(:invalid)+.icon {
  pointer-events: all;
  cursor: pointer;
}

.searchContainer .icon {
  position: absolute;
  width: var(--size-button);
  height: var(--size-button);
  top: 0;
  left: 0;
  padding: 6px;
  pointer-events: none;
}

.searchContainer .icon .searchIcon {
  width: 100%;
  height: 100%;
}

.menu {
  display: none;
}

nav .menu .menuIcon {
  font-size: 2rem;
  color: #fff;
}

/* nav media queries */
@media screen and (min-width: 760px) and (max-width: 1024px) {
  nav {
    padding: 0.7rem 3rem;
  }
}

@media screen and (min-width: 320px) and (max-width: 760px) {
  .menu {
    display: flex;
    position: absolute;
    right: 0.7rem;
  }

  .searchContainer {
    display: flex;
    position: absolute;
    right: 3.5rem;
    bottom: 1rem;
  }

  nav {
    background: #fff;
    backdrop-filter: blur(15px);
    padding: 1rem 1rem;
    flex-direction: column;
    align-items: flex-start;
  }

  nav .logo a {
    color: var(--secondaryColor);
  }

  nav.sticky {
    background: #fff;
  }

  nav .navLinks {
    display: none;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
  }

  nav .open {
    position: absolute;
    width: 50%;
    height: 40vh;
    top: 4.1rem;
    right: 0;
    display: flex;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(15px);
  }

  nav .navLinks a {
    width: 50%;
    text-align: center;
    margin: 0.5rem 0;
    padding: 0.5rem 0;
  }

  nav .menu .menuIcon {
    color: var(--secondaryColor);
  }

  .searchContainer {
    color: var(--secondaryColor);
  }

  .searchContainer .input {
    color: var(--secondaryColor);
  }

  .searchContainer .input:focus,
  .searchContainer .input:not(:invalid) {
    width: 150px;
    border-bottom: 1px solid var(--secondaryColor);
  }

  .searchContainer .icon .searchIcon {
    color: var(--secondaryColor);
  }
}


/* homeStyle */
.home {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  height: 120vh;
}

.landing {
  position: absolute;
  padding-top: 7rem;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-image: linear-gradient(rgba(4, 9, 30, 0.4), rgba(4, 9, 30, 1)), url(/public/images/college.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem;
  gap: 8rem;
}

.heroheading {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 5rem;
}

.heroheading h1 {
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
}

.heroContent {
  width: 30%;
  color: #fff;
  text-align: center;
  border: 1px solid var(--primaryColor);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  font-weight: 400;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.herotext {
  width: 80%;
}

.toform {
  position: relative;
  text-align: center;
  padding: 2rem;
}

.toform p {
  padding: 0.5rem;
  color: #fff;
}


/* explore stages */
.exploreStages {
  width: 100vw;
  padding: 1rem;
  background: #fff;
  color: #000 !important;
}

.exploreStages h1 {
  text-align: center;
  padding: 2rem;
}

.stages {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
}

/* @import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css); */

figure.stage {
  position: relative;
  max-height: 30vh;
  min-height: 27vh;
  height: 100%;
  min-width: 35vw;
  max-width: 40vw;
  width: 100%;
  color: #333;
  text-align: left;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.3);
}

/* figure.stage * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
} */

figure.stage img {
  height: 100%;
  max-width: 40%;
  vertical-align: middle;
}

figure.stage figcaption {
  position: relative;
  width: 60%;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 8px 0 0 8px;
}

figure.stage .arrow {
  top: 30px;
  left: 100%;
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 25px solid transparent;
  border-top: 25px solid #ffffff;
  margin: 0;
  position: absolute;
}

/* show case */
.showCase {
  width: 100vw;
  background: #fff3f3;
  color: #000;
  position: relative;
}

.showContent {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
  padding: 8rem 1rem;
}

.caseBox {
  width: 40%;
  transition: .4s;
}

.caseBox:hover h2 {
  color: var(--primaryColor);
}

/*------call to action------*/
.calltoAction {
  width: 100vw;
  position: relative;
  padding: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cta {
  width: 90%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/public/images/african-s.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 7rem 0;
}

.cta h1 {
  color: #fff;
  margin-bottom: 40px;
  padding: 0;
}

.cta div {
  display: flex;
  gap: 2rem;
}


/* home media queries */
@media screen and (min-width: 760px) and (max-width: 1024px) {
  .home {
    height: 100vh;
  }

  .hero {
    padding: 2rem;
    gap: 3rem;
  }

  .heroContent {
    width: 50%;
  }

  /* explore stages */
  .exploreStages {
    padding: 0;
  }

  .stages {
    gap: 2rem;
  }

  figure.stage {
    min-width: 40vw;
    max-width: 45vw;
    width: 100%;
  }

  /*------call to action------*/
  .calltoAction {
    padding: 3rem;
  }

  .cta {
    width: 90%;
    padding: 5rem 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 760px) {
  .home {
    height: 100vh;
  }

  .landing {
    padding-top: 5rem;
  }

  .hero {
    flex-direction: column;
    padding: 1rem;
    gap: 2rem;
  }

  .heroheading {
    width: 100%;
    justify-content: center;
    text-align: center;
    gap: 2rem;
  }

  .heroContent {
    width: 100%;
  }

  .herotext {
    width: 100%;
  }

  .toform {
    padding: 1rem;
  }

  /* explore stages */
  .exploreStages {
    padding: 1rem;
  }

  .stages {
    gap: 1rem;
  }

  figure.stage {
    min-width: 95vw;
    max-width: 98vw;
    width: 100%;
  }

  figure.stage figcaption {
    padding: 0.5rem;
  }

  /* case */
  .showContent {
    gap: 2rem;
    padding: 8rem 1rem;
  }

  .caseBox {
    width: 100%;
  }

  /*------call to action------*/
  .calltoAction {
    padding: 1rem;
  }

  .cta {
    width: 100%;
    padding: 3rem 0;
  }

  .cta div {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
}


/* formStlye */
.formPage {
  position: relative;
  width: 100vw;
  overflow-x: hidden;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.9)), url(/public/images/bluelap.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 13rem 4rem 4rem 4rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 3rem;
}

.formPage .note {
  width: 30%;
  padding: 3rem;
}

.formContainer {
  width: 70%;
}

form {
  z-index: 9;
  background: #fff;
  color: #000;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.3);
  transition: transform 0.4s ease-in-out;
}

form h2 {
  text-align: center;
  font-weight: 600;
  padding: 1rem;
  color: var(--secondaryColor);
}

.formInput {
  padding: 1rem 0;
}

form label {
  display: block;
  font-size: 1rem;
  padding-bottom: 0.4rem;
}

.subjects {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.subject {
  display: flex;
  gap: 4rem;
  margin-bottom: 1rem;
}

form select option{
  font-size: 1rem;
}

select.subInput {
  width: 60%;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 40%);
  padding: 0.4rem;
  border-radius: 10px;
  outline: none;
}

select.grade {
  width: 25%;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 40%);
  padding: 0.4rem;
  border-radius: 10px;
  outline: none;
  display: inline;
}

select.choice {
  width: 95%;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 40%);
  padding: 0.4rem;
  border-radius: 10px;
  outline: none;
}

.toRev {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* form media queries */
@media screen and (min-width: 760px) and (max-width: 1024px) {

  .formPage {
    padding: 13rem 1rem 3rem 1rem;
    gap: 1rem;
  }

  .formPage .note {
    width: 35%;
    padding: 1rem;
  }

  .formContainer {
    width: 65%;
  }

  .sujects {
    width: 100%;
  }

  .subject {
    gap: 2rem;
  }

  .subInput {
    width: 60%;
  }

  select.grade {
    width: 25%;
  }

  select.choice {
    width: 95%;
  }
}

@media screen and (min-width: 320px) and (max-width: 760px) {
  .formPage {
    padding: 13rem 1rem 3rem 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .formPage .note {
    width: 100%;
    padding: 0;
  }

  .formContainer {
    width: 100%;
  }

  form {
    padding: 1rem;
  }

  .sujects {
    width: 100%;
  }

  .subject {
    gap: 1rem;
  }

  .subInput {
    width: 70%;
  }

  select.grade {
    width: 30%;
  }
}


/* reviewForm */

.review {
  width: 100%;
  background: #fff;
  padding: 3rem;
  border-radius: 10px;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.3);
  transition: transform 0.4s ease-in-out;
}

.review h2 {
  text-align: center;
  font-weight: 600;
  padding-bottom: 2rem;
  color: var(--secondaryColor);
}

.userInput {
  color: #000;
  padding: 0 0 1.7rem 1.7rem;
}

.userInput strong {
  font-size: 1rem;
}

.review ul {
  text-decoration: none;
  list-style-type: none;
}

.revBtns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.revBtns button:hover a {
  color: var(--primaryColor);
}

/* form review media queries  */
@media screen and (min-width: 760px) and (max-width: 1024px) {}

@media screen and (min-width: 320px) and (max-width: 760px) {
  .reviewContainer {
    width: 100%;
    padding: 1rem 0 1rem 0;
  }

  .review {
    width: 100%;
    background: #fff;
    padding: 1rem;
  }

  .review h2 {
    text-align: center;
    padding-bottom: 1rem;
  }

  .revBtns {
    gap: 1rem;
  }
}


/* programs */
.programsContainer {
  position: relative;
  width: 100vw;
}

.programsContainer .title {
  width: 100%;
  text-align: center;
  font-weight: 600;
  padding: 13rem 0 5rem 0;
  overflow-x: hidden;
  background-image: linear-gradient(rgba(4, 9, 30, 0.1), rgba(4, 9, 30, 1)), url(/public/images/education.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
}

.programsMain{
  position: relative;
  width: 100%;
  display: flex;
}

.programsFilter {
  width: 25%;
  padding: 2rem;
  background: var(--secondaryColor);
}

.allPrograms{
  width: 75%;
  padding-left: 3rem;
}

.relatedPrograms,
.programs {
  width: 100%;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem;
  gap: 2rem;
  flex-wrap: wrap;
}

.progBox {
  width: 85%;
  font-size: 0.9rem;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.2);
  transition: transform 0.4s ease-in-out;
  cursor: pointer;
}

.progBox:hover {
  scale: 1.02;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.5);
}

.progBox p {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.progName {
  color: var(--secondaryColor);
}

.relatedPrograms button,
.programs button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
}


.progBox button:hover a,
.progBox button:hover .fa-icon,
.relatedProgBox button:hover a,
.relatedProgBox button:hover .fa-ion {
  color: var(--primaryColor);
}


.relatedProgramsCont {
  color: #000;
  padding-top: 4rem;
}

.relatedProgramsCont h3 {
  text-align: center;
}

.relatedProgBox {
  width: 45%;
  font-size: 0.9rem;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.2);
  transition: transform 0.4s ease-in-out;
  cursor: pointer;
}

/* programs media queries  */
@media screen and (min-width: 760px) and (max-width: 1024px) {
  .progBox {
    width: 45%;
    padding: 1.7rem;
  }
}

@media screen and (min-width: 320px) and (max-width: 760px) {
  .relatedProgBox {
    width: 100%;
  }

  .progBox {
    width: 100%;
    padding: 1.4rem;
  }
}

/* program */
.programContainer {
  width: 100vw;
  position: relative;
  background: #000 !important;
}

.programTitle {
  width: 100%;
  font-weight: 600;
  padding: 15rem 0 2rem 4.8rem;
  overflow-x: hidden;
  background-image: linear-gradient(rgba(4, 9, 30, 0), rgba(4, 9, 30, 1)), url(/public/images/comp-science.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
}

section.main{
  width: 100%;
  background: #fff !important;
  padding: 5rem 13rem;
  color: #000 !important;
  border-radius: 40px 40px 0 0 ;
}

section .main h3{
  font-weight: 600;
}

section .main p{
  font-size: 1rem;
}

section .aims,
section .overview,
section .institutions,
section .subjectsCombination{
  padding-bottom: 3rem;
}

section .aims h3 span,
section .overview h3 span,
section .institutions h3 span,
section .subjectsCombination h3 span{
  display: inline-block;
  width: 0.4rem;
  height: 1.7rem;
  margin-right: 0.3rem;
  background: crimson;
}

section .subjectsCombination{
  font-size: 1rem;
}

section .subjectsCombination .subjects{
  padding: 0.8rem;
  display: flex;
  align-items: flex-start;
  gap: 4rem;
}

section .institutions ul,
section .subjectsCombination ul{
font-size: 1rem;
margin: 0;
}


/* program media queries */



/* footerStlye */
footer {
  width: 100vw;
  background: #000000;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.3);
  color: #fff;
}

.footer {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-size: 0.9rem;
  padding: 2rem 4rem;
  text-align: left;
}

.footer .uniquest {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-right: 5rem;
}

.footer .uniquest .social {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}

.footer .uniquest .social .socialIcon {
  color: #fff;
  font-size: 1.7rem;
}

.footer .aboutContact {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

footer ul {
  padding: 0;
  margin: 0;
}

.footer ul li {
  list-style-type: none;
  padding: 0.7rem 0;
}

.footer ul li .arrow {
  color: #fff;
  font-size: 0.6rem;
  padding-bottom: 0.1rem;
}

.footer ul li a {
  padding: 0 0.5rem;
}

footer .cprt {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.cprt div {
  width: 70%;
  height: 1px;
  background: #fff;
}

.cprt p {
  font-size: 0.7rem;
  padding: 0.5rem;
}

/* footer media queries  */
@media screen and (min-width: 760px) and (max-width: 1024px) {
  .footer .uniquest {
    width: 55%;
    gap: 2rem;
    padding-right: 4rem;
  }

  .footer .uniquest .social .socialIcon {
    font-size: 1.7rem;
  }
}

@media screen and (min-width: 320px) and (max-width: 760px) {
  
  .footer {
    width: 100%;
    flex-direction: column;
    padding: 2rem 1rem;
  }
  
  .footer .uniquest {
    width: 100%;
    gap: 1rem;
    padding-right: 0;
  }
  
  .footer .uniquest .social {
    width: 100%;
    font-size: 0.7rem;
    gap: 2rem;
  }
  
  .footer .uniquest .social .socialIcon {
    color: #fff;
    font-size: 1.7rem;
  }
  
  .footer .aboutContact {
    width: 100%;
    justify-content: flex-start;
    padding-top: 2rem;
    gap: 2rem;
  }
}