@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
  scroll-behavior: smooth;
}

body {
  background: #353535;
  color: #fff;
}

:root {
  --primaryColor: #14BDEB;
}

body a {
  text-decoration: none;
}

.navBar {
  position: sticky;
  top: 0;
  z-index: 10;
  margin: auto;
  padding: 0.7rem 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 60%);
  background: var(--primaryColor);
  color: #fff;
}

.navBar .logo {
  font-size: 1.7rem;
  font-weight: 600;
}

.navBar a {
  position: relative;
  text-decoration: none;
  margin: 0 0.5rem 0 0.5rem;
  padding: 0rem 0.7rem;
  font-weight: 600;
  color: #fff;
}

.navBar a:not(.active) {
  opacity: 0.8;
}

.navBar a:not(.active):hover {
  opacity: 1;
}

.navBar a:not(.active):before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transform: scaleX(0);
  transform-origin: bottom center;
  transition: transform 0.4s ease-in-out;
}

.navBar a:not(.active):hover::before {
  transform: scale(1);
}

.navBar .active::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transform-origin: bottom center;
  transition: transform 0.4s ease-in-out;
  /* transform: scale(1); */
}


/* homeStyle */
.home {
  position: relative;
  background-color: #000;
  height: 90vh;
  overflow: hidden;
}

.carou {
  position: relative;
  /* width: 100%; */
  height: 100%;
}

.carouItem {
  width: 100%;
  height: 100%;
  position: relative;
}

.carouItem img {
  height: 100%;
  width: 100%;
  opacity: 0.4;
}

.carouCap {
  position: absolute;
  top: 10%;
}

.carouCap p:first-child {
  color: #fff;
  /* width: 50%; */
  margin: auto;
  text-align: center;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(15px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 3rem;
  font-weight: 400;
  border-radius: 2rem;
}

.carouCap h3 {
  padding-top: 5rem;
}

.carouCap button {
  margin-top: 1em;
}

.carouCap button a {
  color: #fff;
}

button {
  padding: 0.6em 1.6em;
  border: 2px solid var(--primaryColor);
  background: var(--primaryColor);
  transition: transform 0.2s ease-in-out;
}

button:hover {
  background: transparent;
}


/* formStlye */
.formContainer {
  overflow-x: hidden;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.9)), url(/public/imgs/ktech.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  padding: 2rem 0 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  z-index: 9;
  width: 65%;
  background: #fff;
  padding: 2rem;
}

form h2 {
  text-align: center;
}

.formInput {
  padding: 1.7rem 0;
}

form label {
  display: block;
  font-size: 1.2rem;
  font-weight: 600;
  padding-bottom: 0.4rem;
}

/* .subjects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  width: 90%;
} */

.sujects {
  display: flex;
  width: 90%;
}

.subject {
  display: flex;
  gap: 5rem;
  margin-bottom: 1rem;
}

.subInput {
  width: 50%;
}

select.grade {
  width: 15%;
  background: transparent;
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 40%);
  padding: 0.4rem;
  border-radius: none;
  outline: none;
  display: inline;
}


form input,
select.uniChoice {
  width: 80%;
  background: transparent;
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 40%);
  padding: 0.4rem;
  border-radius: none;
  outline: none;
}

.proceed {
  display: flex;
  align-items: center;
  justify-content: center;
}

.proceed button,
.revBtns button {
  color: #fff;
}

.proceed button:hover,
.revBtns button:hover {
  color: var(--primaryColor);
}


/* reviewForm */
.reviewContainer {
  width: 100%;
  position: relative;
  padding: 2rem 0 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: #fff; */
  overflow-x: hidden;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.9)), url(/public/imgs/ktech.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.review {
  width: 65%;
  background: #fff;
  padding: 5rem;
}

.review h2 {
  text-align: center;
  padding-bottom: 2rem;
}

.userInput{
  padding: 0 0 1.7rem 1.7rem;
}

.review ul {
  text-decoration: none;
  list-style-type: none;
}

.revBtns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.toPrograms a {
  color: #fff;
}

.toPrograms:hover a {
  color: var(--primaryColor);
}

/* footerStlye */
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  font-size: 0.9rem;
  color: #000;
  background: #fff;
  padding: 2rem;
}

.footer h5 {
  color: var(--primaryColor);
}

/* programs */
.program{
  padding-top: 3rem;
}

.programsContainer{
  width: 100%;
  /* background: #000; */
}

.prog{
  width: 40%;
  font-size: 0.9rem;
  padding: 1rem;
  
}


/* .prog p{

} */